<!DOCTYPE html>
<html>
<head>

    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="homepage.html">
    <link rel="stylesheet" href="Recommended.html">
    <link rel="stylesheet" href="Forum.html">
    <style>
        * {
    box-sizing: border-box;
}


body {
    font-family: SansSerif;
    padding: 8px;
    background: #b6a8a8;

}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: #b6a8a8;
}

.header h1 {
    font-size: 50px;

}
.p {
    line-height: 200%;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #06680b;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav a:hover {
    background-color: #b6a8a8;
    color: black;
}


.leftcolumn {
    float: left;
    width: 75%;
}

body{
    line-height: 200%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;

    padding-left: 20px;
}



/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #06680b;
    margin-top: 20px;
}

/* produced with some W3schools formatting*/


    </style>
</head>
<body>

<div class="header">
    <h1>EVOCO</h1>
    <p>Find the computer that best suits your needs.</p>
</div>

<div class="topnav">
    <a href="forums.html" style="float:right">Forum</a>
    <a href="recommended.html" style="float:right">Recommended</a>
    <a href="#" style="float:right">Homepage</a>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>ASRock Z490 Motherboard Features 10-Pin Intel ATX12VO Power Connector</h2>
            <h5>Tomshardware, 05/01/2020</h5>
            <div.b>
            <img src="Images/tomshardware.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>
                A giant wave of Z490 motherboards flooded headlines yesterday, accompanying Intel's 10th Generation Comet Lake-S CPU launch. It's no wonder that motherboards, such as the Z490 Phantom Gaming 4SR, went unnoticed. But as spotted by hardware detective @KOMACHI_ENSAKA, ASRock's Z490 Phantom Gaming 4SR comes with Intel's ATX12VO power connector.
                 <br>
                The ATX12VO specification is Intel's invention to deviate from the standard 24-pin ATX power connector that has been with us for ages. Basically, Intel's connector removes the 3.3V and 5V rails and only retains the 12V rail. The new standard reduces the bulky 24-pin connector to just a 10-pin connector.
            </p>
            <a href="https://www.tomshardware.com/news/asrock-z490-motherboard-intel-atx12vo-10-pin">Continue here to follow the link</a>
            </div.b>

        </div>
        <div class="card">
            <h2>Google claims a Quantum Breakthrough </h2>
            <h5>The NY Times, 10/23/2019</h5>
            <div.b>
            <img src="Images/quantum.jpg" alt="HTML5 Icon " style="height:300px;">
                        <p>Google’s quantum computer. The company said in a paper published on Wednesday that the machine needed only a few minutes to perform a task that would take a supercomputer at least 10,000 years.Credit...Google
                By Cade Metz
                Oct. 23, 2019

                603
                SANTA BARBARA, Calif. — Google said on Wednesday that it had achieved a long-sought breakthrough called “quantum supremacy,” which could allow new kinds of computers to do calculations at speeds that are inconceivable with today’s technology.
                <br>
                The Silicon Valley giant’s research lab in Santa Barbara, Calif., reached a milestone that scientists had been working toward since the 1980s: Its quantum computer performed a task that isn’t possible with traditional computers, according to a paper published in the science journal Nature.

            </p>
            <a href="https://www.nytimes.com/2019/10/23/technology/quantum-computing-google.html">Continue here to follow the link</a>
                </div.b>
        </div>
    </div>

    <div class="rightcolumn">

        <div class="card">
            <h3>About us</h3>
            <p>The Evoco creators</p>
            <p>We realize that picking a computer to satisfy your needs can be a bit challenging, especially with so many on the market. Our website makes it easier and less challenging to figure out what computer best suits your needs, by giving the option to choose what you are looking for.  </p>
        </div>
        <div class="card">
            <h3>What makes us different from other sites</h3>
            <p>While we allow you to view a variety of options like other websites, we provide a forum that has your peers suggest their favorite computers.<br>
                This is helpful because often people don't know what they want to buy so here we try and make it easy. We are not suggesting that you don't use a second party website,
                but the forum is to be used as suggestion.</p>
        </div>
    </div>

    <div class="rightcolumn">

        <div class="card">
            <h3>Contact us</h3>
            <p>Have question? We have answers. Feel free to email us at 3155@uncc.edu.</p>
        </div>

    </div>



</div>

<div class="footer">
    <h2>Group 19 3155 2020</h2>
</div>

</body>
</html>
