<!DOCTYPE html>
<html>
<head>

    <title>Recommended</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="homepage.html">
    <link rel="stylesheet" href="Recommended.html">
    <link rel="stylesheet" href="Forum.html">
    <style>
        * {
    box-sizing: border-box;
}

body {
    font-family: SansSerif, serif;
    padding: 8px;
    background: #b6a8a8;


    text-align: center;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: #b6a8a8;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #06680b;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #b6a8a8;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #06680b;
    margin-top: 20px;
}
/*Used with some w3schools formatting*/
    </style>
</head>
<body>

<div class="header">
    <h1>EVOCO</h1>
    <p>Find the computer that best suits your needs.</p>
</div>

<div class="topnav">
    <ul>
    <a href="forums.html" style="float:right">Forum</a>
    <a href="#" style="float:right">Recommended</a>
    <a href="homepage.html" style="float:right">Home</a>
    </ul>
</div>
<div class="row">
    <div class="leftcolumn">
        <h1>Low Cost</h1>
        <div class="card">
            <h5>04/28/2020</h5>
            <img src="assets/Acer5.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>Acer Aspire 5</p>
            <p>15.6" laptop- Intel Core I7 - 12GB - 256GB SSD. Windows 10, Full hd, 8th gen core I7. 12gb ram</p>
            <p>$649.99</p>
            <a href="https://www.acer.com/ac/en/US/content/series/aspire5">Click for more</a>
        </div>
        <div class="card">
            <h5>04/28/2020</h5>
            <img src="assets/Lenovo.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>Lenovo - IdeaPad</p>
            <p>Lenovo - IdeaPad 15.6&quot; Laptop - AMD Ryzen 3 - 8GB Memory - 256GB Solid State Drive - Platinum Gray/IMR Windows 10 Full hd Amd ryzen 3 8 gb ram Amd radeon vega 3</p>
            <p>$429.99</p>
            <a href="https://www.officedepot.com/a/products/4790796/Lenovo-IdeaPad-L340-Laptop-156-Screen/">Click for more</a>
        </div>
        <div class="card">
            <h5>04/28/2020</h5>
            <img src="assets/Surface.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>Microsoft - Surface Go</p>
            <p>Microsoft - Surface Go - 10&quot; Touch-Screen - Intel Pentium Gold - 8GB Memory - 128GB Storage - Silver full windows 10 intel Pentium gold processor 4415y 8gb tam 128 ssd</p>
            <p>$549.00</p>
            <a href="https://www.microsoft.com/en-us/surface/business/surface-go?SilentAuth=1?SilentAuth=1">Click for more</a>
        </div>
        
        <h1>High Cost</h1>
        <div class="card">
            <h5>04/28/2020</h5>
            <img src="assets/DellXPS13.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>Dell XPS 13</p>
            <p>Dell - XPS 2-in-1 13.4&quot; Touch-Screen Laptop - Intel Core i7 - 16GB Memory - 256GB SSD - Platinum Silver With Arctic White Interior Windows 10 Touch screen 4k display 10 th gen Intel core i7 16 gb ram Intel iris graphics</p>
            <p>$1599.00</p>
            <a href="https://www.dell.com/en-us/work/shop/2-in-1-laptops-tablets/new-xps-13-2-in-1-laptop/spd/xps-13-7390-2-in-1-laptop">Click for more</a>
        </div>
        <div class="card">
            <h5>04/28/2020</h5>
            <img src="assets/HP.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>HP - Spectre x360 2-in-1</p>
            <p>HP - Spectre x360 2-in-1 13.3&quot; 4K OLED Ultra HD Touch-Screen Laptop - Intel Core i7 - 16GB Memory - 1TB SSD + 32GB Optane - Nightfall Black Touch screen 4k display 10 th gen i7 16 gb ram 1tb solid state Intel iris graphics card</p>
            <p>$1599.00</p>
            <a href="https://www.bhphotovideo.com/c/search?Ntt=Hp%20Spectre%20X360%202%20In%201%2013.3&N=0&InitialSearch=yes&ap=Y&gclid=EAIaIQobChMIhfKbs9yT6QIVzJ6zCh1CzA8GEAAYASAAEgLKjvD_BwE">Click for more</a>
        </div>
        
        <h1>Macs</h1>
        <div class="card">
            <h5>4/27/2020</h5>
            <img src="assets/Macbook.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>MacBook Air</p>
            <p>13" laptop - Intel Core I3 - 256GB SSD, Turbo Boost up to 3.2GHz, Intel Iris Plus Graphics, 10 gen core</p>
            <p>$999.99 or $899.99 for students</p>
            <a href="https://www.apple.com/shop/buy-mac/macbook-air">Click for more</a>
        </div>
        
        <div class="card">
            <h5>4/27/2020</h5>
            <img src="assets/Macbookpro.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>MacBook Pro</p>
            <p>1.4GHz Quad-Core Processor with Turbo Boost up to 3.9GHz 256GB Storage Touch Bar and Touch-ID</p>
            <p>$1499.00</p>
            <a href="https://www.apple.com/shop/buy-mac/macbook-pro/13-inch-space-gray-1.4ghz-quad-core-processor-with-turbo-boost-up-to-3.9ghz-256gb#">Click for more</a>
        </div>
        
        <h1>Gaming</h1>
        <div class="card">
            <h5>4/27/2020</h5>
            <img src="assets/AcerNitro.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>Acer - Nitro 5</p>
            <p>Acer - Nitro 5 15.6&quot; Gaming Laptop - Intel Core i5 - 8GB Memory - NVIDIA GeForce GTX 1650 - 1TB Hard Drive + 128GB SSD - Black</p>
            <p>$829.99</p>
            <a href="https://www.acer.com/ac/en/US/content/series/nitro5">Click for more</a>
        </div>
        <div class="card">
            <h5>4/27/2020</h5>
            <img src="assets/ASUSROG.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>ASUS - ROG</p>
            <p>ASUS - ROG GU502GV 15.6&quot; Gaming Laptop - Intel Core i7 - 16GB Memory - NVIDIA GeForce RTX 2060 - 1TB SSD + Optane - Brushed</p>
            <p>$1199.99</p>
            <a href="https://www.google.com/aclk?sa=l&ai=DChcSEwib1Z3I1pPpAhWJnLMKHcQoCIIYABAHGgJxbg&sig=AOD64_28XdnReJ9DQTHeTCI_vcjbNR9PiA&ctype=5&q=&ved=2ahUKEwiOqJLI1pPpAhWRmOAKHYUKCL8Qwg96BAgQEDE&adurl=">Click for more</a>
        </div>
        <div class="card">
            <h5>4/27/2020</h5>
            <img src="assets/AlienWare.jpg" alt="HTML5 Icon " style="height:300px;">
            <p>Aleinware - M15</p>
            <p>Alienware - M15 15.6&quot; Gaming Laptop - Intel Core i7 - 16GB Memory - NVIDIA GeForce RTX 2060 - 256GB Solid State Drive - Lunar Light</p>
            <p>$1289.99</p>
            <a href="https://www.dell.com/en-us/shop/dell-laptops/alienware-m15-gaming-laptop/spd/alienware-m15-laptop/wnorn5chm151h?view=configurations&amp;configurationid=c5cb4efe-4d99-4aeb-9d6c-7a57d2fd1da6&amp;gacd=9614064-1014-5761040-0-0&amp;dgc=st&amp;=undefined&amp;gclid=CjwKCAjw-YT1BRAFEiwAd2WRtvFHZ_XGBgSLfJXEv6siZxnBaE2Xbk_ToKmwxcXgFAr-Wnsjn9k24RoC9HYQAvD_BwE&amp;gclsrc=aw.ds">Click for more</a>
        </div>
    </div>

    </div>
</div>

<div class="footer">
    <h2>Group 19 3155 2020</h2>
</div>

</body>
</html>

