<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="Welcome.css">
</head>
<body>
<div class="header">
    <h1>EVOCO</h1>
    <p>Find the computer that best suits your needs.</p>
</div>
<div class="topnav">
<a href=""></a>


</div>
<br><br><br>
<div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-4">



                            <h2 class="h3 mb-3 font-weight-heavy">Come on in! We've got a lot to offer!</h2><br><br>


                </div> <br>
                <form action="homepage.html">
                    <button type="submit">Continue</button>
                </form>

        </div>


</body>
</html>

