<!DOCTYPE html>
<html>
<head>

    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Welcome.css">

</head>
<body>

<div class="header">
    <h1>EVOCO</h1>
    <p>Find the computer that best suits your needs.</p>

        </div>
<div class="topnav">
    <a href="homepage.html"></a>
    <a href="Recommended.html"></a>
    <a href="Forum.html"></a>
</div>
<div class="header">
            <h2>Welcome User!</h2>
            <p>Come on in and find a computer that works the best for you!</p>
    <form action="homepage.html">
        <br>
    <button type="submit">Enter</button>
    </form>

    </div>

</div>


</body>
</html>
