<!DOCTYPE html>
<html>
<head>

    <title>Forum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="homepage.html">
    <link rel="stylesheet" href="Recommended.html">
    <link rel="stylesheet" href="Forum.html">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            padding: 10px;
            background: #b6a8a8;
        }

        /* Header/Blog Title */
        .header {
            padding: 30px;
            text-align: center;
            background: #b6a8a8;
        }

        .header h1 {
            font-size: 50px;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #06680b;
        }
        /* Style the topnav links */
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #b6a8a8;
            color: black;
        }

        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
            float: left;
            width: 75%;
        }

        /* Right column */
        .rightcolumn {
            float: left;
            width: 25%;
            background-color: #f1f1f1;
            padding-left: 20px;
        }

        /* Fake image */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Add a card effect for articles */
        .card {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #06680b;
            margin-top: 20px;
        }


    </style>
</head>
<body>

<div class="header">
    <h1>EVOCO</h1>
    <p>Find the computer that best suits your needs.</p>
</div>

<div class="topnav">
    <a href="#" style="float:right">Forum</a>
    <a href="recommended.html" style="float:right">Recommended</a>
    <a href="homepage.html" style="float:right">Home</a>
</div>

<h1>Listing articles</h1>
 <%= link_to 'New article', new_forum_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @forum.each do |forum| %>
    <tr>
      <td><%= forum.title %></td>
      <td><%= forum.text %></td>
      <td><%= link_to 'Show', forum_path(forum) %></td>
    </tr>
  <% end %>
</table>


<div class="footer">
    <h2>Group 19 3155 2020</h2>
</div>

</body>
</html>