<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="Signup.css">
</head>
<body>
<div class="header">
    <h1>EVOCO</h1>
    <p>Find the computer that best suits your needs.</p>
</div>
<div class="topnav">
    <a href="homepage.html">Sign up</a>
    <a href="Recommended.html">Recommended</a>
    <a href="Forum.html">Forum</a>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="SignupAuth" autocomplete="off">
                        <div class="form-group">
                            <h1 class="h3 mb-3 font-weight-heavy">Sign Up</h1>
                            <div class="form-group">
                                <input type="text" id="inputFName" name= "firstName" class="form-control" placeholder="First name" required>
                            </div><br>
                            <div class="form-group">
                                <input type="text" id="inputLName" name = "lastName" class="form-control" placeholder="Last name" required>
                            </div><br>
                            <input type="email" id="inputEmail" name = "email" class="form-control" placeholder="Email address" required autofocus>
                        </div><br>
                        <div class="form-group">
                            <input type="password" id="inputPassword" name= "password" class="form-control" placeholder="Password" required>
                        </div><br>
                        <input type="password" id="inputCPassword" name = "passwordConfirm" class="form-control" placeholder="Confirm Password" required><br><br>



                <button type="button" id="sendlogin" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
